extends /layout/page

block title
    title О системе

block variables
    - var page = 'about-system'
block content
    .container
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red О системе
                h2.c-black.text-center.mt-12 Мы&nbsp;предлагаем комплексное решение для&nbsp;защиты подлинности:
        .row.mt-30
            .col-12
                .beige-container
                    .row
                        .col-md-6 
                            ul
                                li Различные варианты кодов - цифровые, буквенные или цифро-буквенные коды и QR-коды
                                li Различные способы маркировки – однослойная этикетка с кодом под скретч-полосой, двуслойная этикетка с кодом на нижнем слое, уникальный код под крышкой упаковки, купон-вкладыш с кодом, помещаемый внутрь упаковки, код на внутренней или внешней части упаковки, под отрывной лентой.
                                li Различные способы проверки подлинности - с помощью мобильного приложения, на сайте, через SMS, через Telegram или по телефону горячей линии.
                        .col-md-6
                            ul
                                li Простые и удобные механизмы отслеживания точек, в которых происходит вливание контрафакта.
                                li Информационная поддержка покупателя – у нас есть свой профессиональный контакт-центр, работающий со всеми входящими и исходящими вызовами, связанными с проверкой подлинности.
                                li Мы круглосуточно на связи – частью нашей инфраструктуры является <a href="http://www.calltraffic.ru/" target="_blank">профессиональный контакт-центр CallTraffic </a>. Это обеспечивает наших клиентов надёжной поддержкой в любое время суток.
        .row.mt-30.d-none.d-md-block  
            .col-12
                +img('about-system1.jpg','',' img-fluid br-20 ','')
        .row.mt-30.mt-md-60  
            .col-md-5 
                +img('about-system2.jpg','',' img-fluid br-20','')
            .col-md-7.mt-16.mt-md-0
                h4 Более 10 лет опыта  
                p.fs-medium.mt-14.mt-md-24 История работы системы Original! насчитывает более 10 лет. За это время мы зарекомендовали себя как эксперты в области защиты подлинности, что подтверждается отличными отзывами наших клиентов. Среди них – признанные лидеры различных отраслей: производители автодеталей, лекарственных препаратов, пищевых продуктов, бытовой химии и другие.
                h4.mt-24.mt-md-40 Интеграция с другими системами
                p.fs-medium.mt-14.mt-md-24 Система Original! имеет современные и гибкие средства для интеграции и обмена данными с системами различного уровня: как с внутренними системами производителей и дистрибьюторов различных товаров, так и с отраслевыми, региональными и государственными системами надзорных и контролирующих органов. Также система содержит компоненты для поддержки отраслевых международных стандартов и быстрой интеграции с иностранными системами, например GS1.
                h4.mt-24.mt-md-40 Современные технологии
                p.fs-medium.mt-14.mt-md-24 Система Original! построена на основе облачных сервисов. Это обеспечивает высокую степень надежности, масштабирования и доступности функций для всех категорий пользователей. Основу системы составляют распределённая реляционная база данных и современные решения на базе web-технологий.При создании системы Original! использованы самые современные информационные технологии, технические и программные средства. Система может работать в режимах PaaS (платформа как сервис), SaaS (программное обеспечение как сервис) и на серверном оборудовании производителей и контролирующих органов. Облачная архитектура и организация рабочих мест на основе интернет-браузеров позволяет минимизировать эксплуатационные расходы на систему.
                h4.mt-24.mt-md-40 Удобное сканирование кодов
                p.fs-medium.mt-14.mt-md-24 Для считывания и контроля кодов с упаковки продукции могут использоваться как промышленные мобильные сканеры, так и обычные смартфоны на базе операционных систем Android, iOS или Windows Mobile. В системе предусмотрен асинхронный режим работы сканера/мобильного устройства без необходимости постоянного подключения к базе данных Original!.
                h4.mt-24.mt-md-40 Широкий выбор средств маркировки
                p.fs-medium.mt-14.mt-md-24 Original! позволяет выбрать оптимальный вариант кода в зависимости от отрасли компании, задач и предполагаемого бюджета: штрих-коды, QR-коды, Data Matrix, RFID- и Bluetooth-метки. Каждый из способов маркировки имеет свои особенности: 
                ul 
                    li ограничения по объему информации, которая содержится в коде; 
                    li стоимость маркировки и эксплуатации;
                    li расстояние, на котором может производиться сканирование кода и необходимость быть в прямой видимости для сканирования;
                    li размеры и ограничения по материалам, на которые может быть нанесён код;
                    li надёжность кода и возможность создания его подделки.
        .row.mt-30.mt-md-60.flex-row-reverse.flex-md-row
            .col-md-6.d-flex.flex-column
                h3 Этапы внедрения защиты подлинности
                    select.form-select.select-nav.d-block.d-md-none.mt-24
                        option(data-target="#tab-1") 1. Генерация массива уникальных кодов
                        option(data-target="#tab-2") 2. Нанесение кодов на продукцию
                        option(data-target="#tab-3") 3. Активация кодов в системе 
                        option(data-target="#tab-4") 4. Проверка подлинности покупателем 
                        option(data-target="#tab-5") 5. Если обнаружена подделка
                .orange-container.mt-16.mt-md-40.h-100

                    .tab-content
                        #tab-1.tab-pane.fade.lk-content.active.show
                            p.fs-medium.c-white Все товары, участвующие в программе по защите от подделок, необходимо сначала оснастить уникальным кодом.Массив уникальных кодов создаётся для каждого производителя отдельно, с помощью генератора случайных чисел. После генерации очередного кода система проверяет его на уникальность – проводит сравнение со всей базой сгенерированных ранее кодов, что исключает их дублирование.
                            p.fs-medium.c-white Мы умеем генерировать массивы связанных кодов, которые можно использовать для реализации интересных механик и <a href=""> проведения маркетинговых мероприятий </a> на базе программы по защите от подделок.
                        #tab-2.tab-pane.fade.lk-content
                            p.fs-medium.c-white Маркировка товара идентификационным кодом – это нанесение кода:
                            ul 
                                li непосредственно на сам товар; 
                                li на упаковку;
                                li на этикетку.   
                            p.fs-medium.c-white Оптимальный способ маркировки в каждом случае подбирается индивидуально.
                        #tab-3.tab-pane.fade.lk-content
                            p.fs-medium.c-white Активация кодов – процесс привязки массива кодов к определённой продукции, на которую эти коды нанесены. В системе Original! хранится информация о партии защищённого товара, производителе, дате и географических координатах точки, в которой производилась проверка кода.
                        #tab-4.tab-pane.fade.lk-content
                            p.fs-medium.c-white Отправив запрос, покупатель получает подтверждение, содержащее в себе название товара, наименование производителя, дату производства и номер партии. Если полученный ответ соответствует действительности – товар подлинный. Для проверки подлинности продукции покупатель может воспользоваться любым из следующих способов:
                            ul 
                                li отправить бесплатную SMS с кодом на короткий номер;
                                li ввести код в специальном поле на нашем сайте; 
                                li позвонить по бесплатному телефону круглосуточной горячей линии и сообщать код оператору;
                                li при помощи бесплатного приложения Original!, которое позволяет отсканировать код с упаковки и получить результаты его проверки.
                        #tab-5.tab-pane.fade.lk-content
                            p.fs-medium.c-white В случае обнаружения подделки покупателю приходит соответствующее уведомление. Для более подробной информации он может позвонить по номеру бесплатной круглосуточной горячей линии.
                            p.fs-medium.c-white Операторы нашего контакт-центра:
                            ul 
                                li Проконсультируют покупателя о порядке возврата поддельного товара.
                                li Зафиксируют адрес торговой точки, реализующей контрафактную продукцию. 
                            p.fs-medium.c-white Номер горячей линии отображается в уведомлении о подделке: в ответной SMS или в информационном окне, если проверка производилась через сайт или мобильное приложение.
                            p.fs-medium.c-white При повторной отправке одного и того же кода покупатель получает соответствующее предупреждение.

            .col-md-6.d-none.d-md-block
                .beige-container.h-100
                    ul.nav.w-100.flex-column
                        li.nav-item.align-self-start
                            a(href='#tab-1' data-bs-toggle="tab").nav-link.active 1. Генерация массива уникальных кодов
                        li.nav-item.align-self-end
                            a(href='#tab-2' data-bs-toggle="tab").nav-link 2. Нанесение кодов на продукцию (маркировка) 
                        li.nav-item.align-self-start
                            a(href='#tab-3' data-bs-toggle="tab").nav-link 3. Активация кодов в системе 
                        li.nav-item.align-self-end
                            a(href='#tab-4' data-bs-toggle="tab").nav-link 4. Проверка подлинности покупателем 
                        li.nav-item.align-self-start
                            a(href='#tab-5' data-bs-toggle="tab").nav-link 5. Если обнаружена подделка
