extends /layout/page

block title
    title Автомобильные компоненты и автодетали

block variables
    - var page = 'auto-components'
block content
    .container

        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Автомобильные компоненты и автодетали
                h2.c-black.text-center.mt-12 Решение для защиты подлинности <br class="touch-br-del"> автомобильных компонентов и деталей
        .row.mt-16.mt-md-30
            .col-6.col-6.col-lg-3 
                +img('/icons/solutions-1.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Защита каждой единицы <br class="touch-br-del"> продукции
            .col-6.col-lg-3
                +img('/icons/solutions-2.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Информационная поддержка <br class="touch-br-del"> потребителей
            .col-6.col-lg-3
                +img('/icons/solutions-3.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Простая и удобная проверка <br class="touch-br-del"> подлинности
            .col-6.col-lg-3 
                +img('/icons/solutions-4.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Возможность проведения <br class="touch-br-del">   маркетинговых  акций 
        .row.mt-40.mt-lg-40
            .col-md-8 
                p.fs-medium Любой автовладелец, ответственно относящийся к своему автомобилю, старается выбирать для него только качественные запчасти. Для многих гарантией качества становится этикетка с логотипом известного производителя. Этим и пользуются мошенники, выдавая подпольный товар за продукцию компаний, которым безоговорочно доверяют потребители. 
                    |Объём поддельных автозапчастей в России впечатляет — от 30 до 90%, в зависимости от региона. В отдельных случаях мошенники способны изготовить подделку, внешне практически неотличимую от оригинала. Как определить подлинность продукта в такой ситуации? 
                p.fs-medium Система защиты от подделок Original! позволяет обезопасить покупателя от приобретения контрафакта простым и надёжным способом. Каждая деталь маркируется уникальным кодом, зарегистрировав который через СМС, мобильное приложение, на сайте производителя или посредством звонка на горячую линию, потребитель получает ответное сообщение о подлинности продукта. Если код недействителен или уже был использован, скорее всего, перед вами — подделка. Этот способ неоднократно оправдал себя — с помощью системы Original! свою продукцию защищают более двух десятков производителей и поставщиков автодеталей.
                p.fs-medium Уникальный код, которым маркируется продукция, можно также использовать для проведения стимулирующих акций, что даёт вам дополнительные маркетинговые возможности.
            .col-md-4 
                +img('autocomponents1.jpg','',' img-fluid br-20 ','')
        .row.mt-40.mt-lg-80
            h2.text-center Кейс защиты подлинности для ПАО "КАМАЗ"
        .row.mt-20.mt-lg-40
            .col-md-4
                +img('autocomponents2.jpg','',' img-fluid br-20','')
            .col-md-8.mt-24.mt-md-0
                p.fs-medium В ПАО «КАМАЗ» уже много лет разрабатываются и используются различные способы защиты оригинальной продукции. Например, дизайн упаковки запчастей КАМАЗ регулярно меняется в расчёте на то, что мошенники не смогут быстро среагировать и выпустить аналогичную упаковку. Но этот метод всё же не может гарантировать полноценной защиты.
                    |Поэтому для борьбы с контрафактом в производство запчастей КАМАЗ была внедрена система защиты подлинности Original!.
                    <br>При использовании системы Original! каждая деталь, производимая ПАО «КАМАЗ», маркируется специальным ярлыком с уникальным кодом. Потребитель, совершив покупку, может проверить подлинность товара любым удобным ему способом: отправив СМС-сообщение с уникальным кодом на короткий номер 2420, позвонив по телефону, указанному на стикере, или на сайте http://www.azkamaz.ru/. Так покупатель получает полную информацию о купленном товаре, а в случае выявления подделки операторы контакт-центра дадут рекомендации по возврату товара и попросят уточнить координаты торговой точки, в которой был приобретён контрафакт, с целью дальнейшего обращения в правоохранительные органы.
                p.fs-medium Таким образом система Original! борется с поддельной продукцией, увеличивая долю рынка и, соответственно, продажи правообладателя бренда КАМАЗ.
        .row.mt-60.mt-md-80.mt-lg-150
        .row
            .col-12.mb-20.mb-md-40 
                h2.c-black.text-center Каталог защищённых автодеталей
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/kamaz.jpg','','mt-16 mt-md-30 img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 КАМАЗ — крупнейший производитель тяжелых грузовых автомобилей в России 
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/aot.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Поставка оригинальных зап. частей высокого качества для широкого спектра автомобилей отечественных марок
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/gaz.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 27 наименований запчастей для группы компаний ГАЗ и УАЗ от Ульяновского моторного завода
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/agc.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автомобильные стекла от AGC - Борский стекольный завод (Россия-Япония)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/gates.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Ведущий изготовитель высокотехнологичных резиновых ремней и шлангов для промышленных, гидравлических, сельскохозяйственных и автомобильных применений
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/autoproduct.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Компания АВТОПРОДУКТ предлагает автокомпоненты собственной разработки с новыми функциями
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/detal.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 ООО "Автодеталь-Сервис" Одно из крупнейших предприятий по производству автокомпонентов для отечественных автомобилей
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/daydo.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 ООО «Дайдо Металл Русь» - крупнейший поставщик подшипников скольжения для сборочных конвейеров в России и странах СНГ
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/stapri.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Поршневые кольца для двигателей и компрессоров от «СТАПРИ» (Ставропольский завод поршневых колец)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/chaz.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Запасные части для ходовых систем тяжелой гусеничной техники и быстроизнашиваемые элементы бренда ЧАЗ ТМ ("Концерн "Тракторные заводы")
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/rostar.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автокомпоненты, в частности «Рукоятка КПП Р412-1703007-10» от ROSTAR
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/prima.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Клапаны биметаллические и их комплектующие от PrimaMotors
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/dev.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Более 130 наименований подшипников скольжения (вкладыши, втулки, полукольца) из сталебронзовой ленты от ДЗВ (Димитровградский завод вкладышей)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/ss20.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Верхние опоры передних стоек SS20 для автомобилей ВАЗ 2108-2110 от «Система технологий»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/osvar.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автокомпоненты от ОАО «Освар»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/dvr.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Радиаторы охлаждения двигателей, отопители салона ВАЗ, УАЗ, ГАЗ от ОАО «ДЗР» (Димитровградский завод радиаторов)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/ptimash.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автозамок наружный от промышленного холдинга ПТИМАШ
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/kzta.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Регуляторы холостого хода от КЗТА (Калужский завод телеграфной аппаратуры)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/pekar.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автодетали систем отопления, охлаждения, питания, смазки, электрооборудование от ТД PEKAR
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/autounion.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Аккумуляторы Bosh, Varta и NORD от ООО "Автоюнион-БАТ"
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/poar.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Радиаторы отопителя и охлаждения от ПО «Авто-Радиатор»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/daaz.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Топливные насосы, карбюраторы, вакуумные усилители тормозов от Димитровградского автоагрегатного завода
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/mzate.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Элементы системы зажигания для бензиновых двигателей от ЗАО «МЗАТЭ-2»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/saaz.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Телескопические стойки, амортизаторы, пневмогидравлические упоры от Скопинского автоагрегатного завода
            
