extends /layout/page

block title
    title Автохимия

block variables
    - var page = 'auto-himiya'
block content
    .container

        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Автохимия
                h2.c-black.text-center.mt-12 Решение для защиты <br class="touch-br-del">  подлинности автохимии 
        .row.mt-16.mt-md-30
            .col-6.col-6.col-lg-3 
                +img('/icons/solutions-1.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Защита каждой единицы <br class="touch-br-del"> продукции
            .col-6.col-lg-3
                +img('/icons/solutions-2.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Информационная поддержка <br class="touch-br-del"> потребителей
            .col-6.col-lg-3
                +img('/icons/solutions-3.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Простая и удобная проверка <br class="touch-br-del"> подлинности
            .col-6.col-lg-3 
                +img('/icons/solutions-4.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Возможность проведения <br class="touch-br-del">   маркетинговых  акций 
        .row.mt-40.mt-lg-40
            .col-md-8 
                p.fs-medium Сегодня можно столкнуться с подделкой практически любого товара — от одежды и парфюмерии до продуктов питания и алкоголя. Не избежала этой участи и такая популярная категория товаров, как автохимия. Использование некачественной автохимии способно нанести серьёзный вред вашему автомобилю, вплоть до полного выхода двигателя из строя.
                p.fs-medium Существуют ли действенные способы определения подлинности автохимии? Да, например, маркировка продукции уникальными кодами, используемая в системе защиты от подделок Original!. Зарегистрировав код через СМС, на сайте или по телефону горячей линии, покупатель может легко определить, является ли продукция подлинной. В случае, если код недействителен, система сообщит о вероятной подделке, а специалисты горячей линии зарегистрируют место продажи контрафакта и проконсультируют по вопросам его возврата.
                p.fs-medium Этот метод поможет даже в случае розлива поддельной продукции в использованные оригинальные канистры — если код уже был однажды зарегистрирован, покупатель также получит предупреждение о том, что, возможно, перед ним подделка.
                p.fs-medium С помощью уникального кода можно не только защищать продукцию от подделок, но и проводить маркетинговые акции для стимулирования продаж.
            .col-md-4 
                +img('autohimiya1.jpg','',' img-fluid br-20 ','')
        .row.mt-40.mt-lg-80
            h2.text-center Кейс защиты подлинности для ООО&nbsp;«Старлюб»
        .row.mt-20.mt-lg-40
            .col-md-4
                +img('autohimiya2.jpg','',' img-fluid br-20','')
            .col-md-8.mt-24.mt-md-0
                p.fs-medium ВКомпания Texaco не нуждается в представлении. Нефтяной бренд экстра-класса и её флагманский продукт — автомобильное масло Texaco — один из лидеров на рынке автомобильных масел и технических жидкостей. На сегодняшний день продукция компании широко представлена на рынке Соединённых Штатов, Канады, Латинской Америки, стран Западной Африки, Западной Европы. В России официальным дистрибьютором широкого ассортимента смазочных материалов Texaco является компания «Starlube».
                p.fs-medium Предоставляя российскому покупателю только лучшее качество, компания стремится сохранить достоинство бренда и избежать любого негативного отклика. Поэтому для «Starlube» так важна защита от подделок — ведь единственное приобретение контрафакта способно навсегда испортить покупателю впечатление о продукции компании. Специально для ООО «Старлюб» была разработана комбинированная механика: стимулирование продавцов торговых точек и защита подлинности методом активации уникального кода. Для этого мероприятия специалисты нашей компании разработали также дизайн стикеров со скрытым знаковым шифром. Функционал маркетинговой платформы iActions обеспечивает защиту от использования уникального кода третьими лицами. Такое решение помогает не только повысить лояльность потребителей за счёт гарантии качества, но и обеспечить рост продаж. За каждую продажу продукции Texaco продавец получает вознаграждение, что мотивирует его предлагать покупателям именно этот бренд.
        .row.mt-60.mt-md-80.mt-lg-150
        .row
            .col-12.mb-20.mb-md-40 
                h2.c-black.text-center Каталог защищённых товаров (автохимия)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/starlube.jpg','','mt-16 mt-md-30 img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автомасла TEXACO (Energy, Extra, Synthetic, Ultra, Suer) от STARLUBE
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/delfin.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Полусинтетические и турбодизельные масла (LUXE, Spectrol, OILRIGHT), охлаждающие жидкости Аляsка от Delfin Group
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/sintec.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Антифризы SINTEC, масла SINTOIL и реагент AdBlue от Обнинскоргсинтез
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/arteco.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 AdBlue®, раствор карбамида (мочевины) от ООО «Артэко Рус»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/sintec.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Реагент RosBlue для дизельных двигателей от ООО "Инвест"
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/arteco.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Активаторы топлива TUNINX SPORT от РСТех