extends /layout/page

block title
    title Что такое QR код?

block variables
    - var page = 'chto-takoe-qr-kod'
block content
    .container.documents
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Что такое QR код?
                h2.c-black.text-center.mt-16 QR код для защиты <br> подлинности
        .row.mt-20.mt-md-30
            .col-md-6.col-lg-8 
                p.fs-medium.c-black QR-код — это двухмерный штрих-код, в котором может быть в закодированном виде представлена информация о товаре и производителе. QR (Quick Response) дословно означает «быстрый отклик» – информация с него действительно может быть считана практически мгновенно. Как и цифровой код, размещается непосредственно на упаковке продукции. При необходимости QR-код может быть дополнен электронной цифровой подписью (ЭЦП). ЭЦП является юридически значимым документом, подделка которого преследуется по закону.<br>
                    <br>Современные технологии позволяют использовать сканирование QR-кода как удобный и быстрый способ проверки подлинности товара. Всё, что вам нужно сделать — запустить мобильное приложение Original! и направить камеру смартфона на метку. Результат проверки подлинности продукции придёт в течение нескольких секунд и будет доступен в этом же приложении. Здесь же вы сможете просмотреть историю своих проверок и получить всю необходимую информацию по защите от подделок.
            .col-md-6.col-lg-4 
                +img('chto-takoe-qr-kod.jpg','','img-fluid br-20','')         
