extends /layout/page

block title
    title Наши клиенты

block variables
    - var page = 'clients'
block content
    .container
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Наши клиенты
                h2.c-black.text-center.mt-16 Клиенты и&nbsp;партнеры
        .row
            .col-12.mt-40.mt-md-60.mt-lg-80 
                h3.c-black.text-center  Автодетали
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/kamaz.jpg','','mt-16 mt-md-30 img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 КАМАЗ — крупнейший производитель тяжелых грузовых автомобилей в России 
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/aot.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Поставка оригинальных зап. частей высокого качества для широкого спектра автомобилей отечественных марок
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/gaz.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 27 наименований запчастей для группы компаний ГАЗ и УАЗ от Ульяновского моторного завода
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/agc.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автомобильные стекла от AGC - Борский стекольный завод (Россия-Япония)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/gates.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Ведущий изготовитель высокотехнологичных резиновых ремней и шлангов для промышленных, гидравлических, сельскохозяйственных и автомобильных применений
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/autoproduct.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Компания АВТОПРОДУКТ предлагает автокомпоненты собственной разработки с новыми функциями
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/detal.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 ООО "Автодеталь-Сервис" Одно из крупнейших предприятий по производству автокомпонентов для отечественных автомобилей
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/daydo.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 ООО «Дайдо Металл Русь» - крупнейший поставщик подшипников скольжения для сборочных конвейеров в России и странах СНГ
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/stapri.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Поршневые кольца для двигателей и компрессоров от «СТАПРИ» (Ставропольский завод поршневых колец)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/chaz.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Запасные части для ходовых систем тяжелой гусеничной техники и быстроизнашиваемые элементы бренда ЧАЗ ТМ ("Концерн "Тракторные заводы")
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/rostar.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автокомпоненты, в частности «Рукоятка КПП Р412-1703007-10» от ROSTAR
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/prima.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Клапаны биметаллические и их комплектующие от PrimaMotors
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/dev.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Более 130 наименований подшипников скольжения (вкладыши, втулки, полукольца) из сталебронзовой ленты от ДЗВ (Димитровградский завод вкладышей)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/ss20.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Верхние опоры передних стоек SS20 для автомобилей ВАЗ 2108-2110 от «Система технологий»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/osvar.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автокомпоненты от ОАО «Освар»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/dvr.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Радиаторы охлаждения двигателей, отопители салона ВАЗ, УАЗ, ГАЗ от ОАО «ДЗР» (Димитровградский завод радиаторов)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/ptimash.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автозамок наружный от промышленного холдинга ПТИМАШ
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/kzta.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Регуляторы холостого хода от КЗТА (Калужский завод телеграфной аппаратуры)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/pekar.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автодетали систем отопления, охлаждения, питания, смазки, электрооборудование от ТД PEKAR
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/autounion.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Аккумуляторы Bosh, Varta и NORD от ООО "Автоюнион-БАТ"
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/poar.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Радиаторы отопителя и охлаждения от ПО «Авто-Радиатор»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/daaz.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Топливные насосы, карбюраторы, вакуумные усилители тормозов от Димитровградского автоагрегатного завода
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/mzate.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Элементы системы зажигания для бензиновых двигателей от ЗАО «МЗАТЭ-2»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-components/saaz.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Телескопические стойки, амортизаторы, пневмогидравлические упоры от Скопинского автоагрегатного завода
            .col-12.mt-40.mt-md-60.mt-lg-80 
                h3.c-black.text-center  Автохимия
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/starlube.jpg','','mt-16 mt-md-30 img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Автомасла TEXACO (Energy, Extra, Synthetic, Ultra, Suer) от STARLUBE
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/delfin.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Полусинтетические и турбодизельные масла (LUXE, Spectrol, OILRIGHT), охлаждающие жидкости Аляsка от Delfin Group
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/sintec.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Антифризы SINTEC, масла SINTOIL и реагент AdBlue от Обнинскоргсинтез
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/arteco.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 AdBlue®, раствор карбамида (мочевины) от ООО «Артэко Рус»
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/sintec.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Реагент RosBlue для дизельных двигателей от ООО "Инвест"
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/auto-himiya/arteco.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Активаторы топлива TUNINX SPORT от РСТех
            .col-12.mt-40.mt-md-60.mt-lg-80 
                h3.c-black.text-center  Медицина и здоровье
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/3m.jpg','','mt-16 mt-md-30 img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Компания 3М - материалы для стоматологии и ортодонтии
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/unident.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Лидер стоматологического рынка России и один из самых успешных холдингов в Европе
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/pankov.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Аппарат светодиодный офтальмологический «Радуга прозрения» от Панков-Медикл
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/sigcess.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 БАД «Фухоли - Дар силы» от международной корпорации Шэншимин (Sigcess)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/farm.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Компания «Р-Фарм» – один из лидеров фармакологической отрасли в России
