extends /layout/page

block title
    title О компании Original Group

block variables
    - var page = 'company'
block content
    .container
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red О нас
                h2.c-black.text-center.mt-12 О компании Original Group
        .row.mt-16.mt-md-30
            .col-md-8 
                p.fs-medium Система защиты от подделок Original! разработана специалистами IT-холдинга Original Group — одной из ведущих российских IT-компаний, работающих в сегментах B2B и B2C. Original Group специализируется на разработке и внедрении высокотехнологичных программных продуктов для бизнеса и конечного потребителя. За более чем 10 лет нами были созданы десятки IT-решений, каждое из которых доказало свою эффективность как для частного, так и для бизнес-сегмента.
                    |Original Group — ведущий оператор в сфере интерактивных технологий сопровождения продаж с более чем 215 000 000 единиц различных товаров из областей автопромышленности, фармацевтики, FMCG, подключённых к системе Original! Наши клиенты применяют интерактивные технологии по стимулированию и сопровождению сбыта продукции, проводят бонус-акции, повышают лояльность потребителей за счёт формирования и управления базой CRM, оптимизируют товарооборот, защищают свои товары от подделок, проводят маркетинговые исследования, проверяют подлинность продуктов и пользуются многими другими возможностями, которые мы постоянно совершенствуем. <br>
                    |Интеграция с инфраструктурой IT-холдинга Original Group позволяет эффективно решать весь комплекс задач, связанных с защитой подлинности — от круглосуточной поддержки профессионального контакт-центра CallTraffic до маркировки продукции и типографских услуг.
            .col-md-4
                +img('company-1.jpg','',' img-fluid','')
        .row.mt-20.mt-md-60
            .beige-container.padding-small
                .row
                    .col-md-5 
                        +img('company-logo.jpg','',' img-fluid br-20','')
                    .col-md-7.mt-20.mt-md-0.d-flex.align-items-center
                        p.fs-medium Миссия системы Original! — предоставлять удобный сервис аутентификации товаров, понятный покупателям и удобный для производителей. Сервис, благодаря которому любой человек без специальных знаний или программ может в 2–3 шага проверить подлинность приобретённого товара. Поддельная продукция не просто лишает производителей прибыли и рыночных ниш. В первую очередь от роста контрафакта на прилавках страдают покупатели. Недолговечность подделок, рост цен из-за конкуренции оригинального производителя и «китайских аналогов», потеря доверия к брендам — это лишь малая часть негативного воздействия контрафакта на рынок.
