extends /layout/page

block title
    title Контакты

block variables
    - var page = 'contacts'
block content
    .container
        .row.mt-20.mt-md-60
            .col-12 
                h1.text-center.mb-40.h1-lg Контакты
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A92e5dbb1a4db403042fc8f395be60705d085fb17ef548cfbd586fc1b5d60323c&amp;width=100%25&amp;height=480&amp;lang=ru_RU&amp;scroll=true"></script>        
        .row.mt-0.mt-md-40.mt-lg-60
            .col-md-6
                h3 Как нас найти
                h4.mt-30.mt-md-40 Адрес
                p.fs-medium.c-black.mt-10.mt-md-16 127018, г. Москва, ул. Полковая, д. 3, стр. 9 
                h4.mt-30.mt-md-40 График работы
                p.fs-medium.c-black.mt-10.mt-md-16 ПН-ПТ 09:00 - 18:00
                h4.mt-30.mt-md-40 Телефон
                p.fs-medium.c-black.mt-10.mt-md-16 8-800-555-00-95
                h4.mt-30.mt-md-40 E-mail
                a.fs-medium.c-black.mt-10.mt-md-16(href="mailto:info@i-actions.ru") info@i-actions.ru
                .social.mt-30.mt-md-40 
                    a(href="ok")
                        +img('/icons/ok.svg','','','')
                    a(href="tg")
                        +img('/icons/tg.svg','','','')
                    a(href="svg")
                        +img('/icons/vk.svg','','','')

            .col-md-6.col-xl-4.mt-50.mt-md-0
                h3 Связаться с нами
                form.row.form-group.needs-validation.mt-30.mt-md-40.px-0(novalidate) 
                    .col-12.position-relative
                        input(type="text" class="form-control" class="input" placeholder="Ваше имя" required)
                    .col-12.mt-10.mt-md-30.position-relative
                        input(type="tel" class="form-control" class="input" placeholder="Телефон" required).mask-phone
                    .col-12.mt-10.mt-md-30.position-relative    
                        input(type="email" class="form-control" class="input" placeholder="E-mail" required)
                    .col-12.mt-10.mt-md-30.position-relative    
                        input(type="text" class="form-control" class="input" placeholder="Задайте вопрос" required)
                    .col-12.mt-20
                        p.fs-small.c-gray Нажимая на кнопку «Отправить», вы соглашаетесь  <a href="/privacy-policy.html" class="c-gray" >с политикой конфиденциальности</a> 
                    .col-12
                        button(type="submit").btn.btn-lg.btn-red-fill.w-100.mt-20.mt-lg-40  Оставить заявку
