extends /layout/page

block title
    title Документы

block variables
    - var page = 'documents'
block content
    .container.documents
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Документы
                h2.c-black.text-center.mt-16 Правовая информация системы
                h4.mt-24.mt-md-40.c-black.text-center Этот сайт и его службы находятся под управлением компании Original Group и ими можно пользоваться без ограничений при соблюдении следующих условий: 
        .row.mt-16.mt-md-30
            .col
                .beige-container
                    ul
                       li Original Group не несет ответственности за любой прямой или косвенный ущерб, ставший результатом использования данного сайта и расположенных на нем сервисов. В любом случае ответственность лежит на пользователе. Сайт представляется для использования в том виде как он есть и как доступен.
                       li Original Group не несет ответственности, кроме явно предусмотренной договорами, за невозможность использования сайта и его служб.
                       li Original Group ни при каких обстоятельствах не несет ответственности за неверную интерпретацию результатов работы находящихся на сайте служб и сервисов
                       li Original Group не несет никакой ответственности за доступность и содержание сайтов других компаний, на которые ведут ссылки с данного сайта.
                       li Original Group оставляет за собой право без дополнительного уведомления вносить в структуру и содержимое сайта изменения, связанные с совершенствованием оборудования и программного обеспечения, повышением удобства пользования сайтом, улучшением защищенности сайта, а также при обнаружении неточностей и опечаток.
                       li Original Group оставляет за собой право любым законным способом обеспечивать защиту сервисов сайта и баз данных со стороны любой потенциально злонамеренной информации, передаваемой или загружаемой в электронном виде и любых других злонамеренных действий.
                       li Сайт содержит материалы, требующие использования программных продуктов сторонних производителей, например, текстовых редакторов, программ просмотра содержимого сайтов (браузера) и т.д. Использование таких программ может быть ограничено или запрещено в силу законных прав третьих сторон, включая (но не ограничиваясь этим) ограничения, налагаемые действующим законодательством по защите авторских прав. Перед использованием каких-либо сторонних программ необходимо убедиться в наличии надлежащих лицензий либо иных разрешений. Ответственность за использование сторонних программ возлагается на пользователя сайта (но не на Original Group). Original Group не гарантирует точности, целостности или качества никаких сторонних программ и другого содержимого сторонних производителей.
                       li Microsoft, Windows, PowerPoint и Microsoft Word являются торговыми марками или зарегистрированными торговыми марками корпорации Microsoft.
                       li Java и все торговые марки и логотипы, содержащие слово Java, являются торговыми марками или зарегистрированными торговыми марками корпорации Sun Microsystems.
                       li Абонентский идентификатор 2420 используется в рамках двухстороннего СРА партнёрства с российскими, казахстанскими и украинскими операторами мобильной связи.
                       li Большая часть фотографий и графических изображений на сайте приобретена у компаний Shutterstock Images LLC, Depositphotos USA
                       li Логотипы и фирменные названия клиентов компании, являются товарными знаками и другой защищенной собственностью партнеров компании и размещены на сайте с согласия правообладателей.
                       li Услуги удаленного доступа к информации с использованием инфокоммуникационных технологий оказываются на основании лицензии Министерства информационных технологий и связи «Телематические услуги связи» № 43810.
                       li Отличительный логотип сервиса является товарным знаком Original Group и не может быть никаким образом использования без письменного согласования с Original Group.
                       li Другие упомянутые здесь изделия и названия компаний могут быть торговыми марками соответствующих владельцев. Любые права, не переданные явно настоящим документом, сохраняются.
        .row.mt-40.mt-md-80
            .col 
                h2.c-black.text-center О сайте
                p.text-center.fs-medium.mt-24.mt-md-40 Программная часть сайта разработана программистами Original Group.Графические изображения, за исключением отснятых или прорисованных самостоятельно, приобретены в компаниях Shutterstock Images LLC, iStockPhoto, Depositphotos USA и Лори Фотобанк.