extends /layout/page

block title
    title Горячая линия

block variables
    - var page = 'goryachaya-liniya'
block content
    .container.documents
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Горячая линия
                h2.c-black.text-center.mt-16 Горячая линия по защите <br class="touch-br-del"> подлинности
        .row.mt-20.mt-md-30
            .col 
                h3.c-black В рамках системы Original! мы предлагаем всем пользователям круглосуточную поддержку.  
                h4.c-black.mt-24.mt-md-40 Для проверки кода прямо на месте покупки вы можете:
                ul.mt-20 
                    li  Позвонить на горячую линию, указанную на стикере.
                    li Отправить SMS на номер 2420. Стоимость отправки минимальна, узнать её вы можете у своего оператора. 
                h4.c-black.mt-24.mt-md-40 Вопросы по защите от подделок можно в любое время задать по номерам:
                ul.mt-20 
                    li 8 800 555 0095 – для РФ
                p.fs-medium.c-black Звонок в службу поддержки бесплатен со всех телефонов из указанных стран, включая звонки с мобильных телефонов.
                h4.c-black.mt-24.mt-md-40 Вы можете получить поддержку по всем вопросам, связанным с работой системы Original!:
                ul.mt-20 
                    li Проверить найденный на упаковке код на подлинность.
                    li В случае обнаружения подделки получить помощь по возврату денег. 
                    li Сообщить адрес торговой точки, в которой была обнаружена поддельная продукция. <br> Это поможет компании-производителю определить, где именно происходит вливание контрафакта. 
                h4.c-black.mt-24.mt-md-40 Также наши операторы оказывают поддержку покупателям-участникам маркетинговых акций:
                ul.mt-20 
                    li Проводят регистрацию покупателя.
                    li Консультируют по правилам акции.
                    li Консультируют по вопросам получения бонусов и выигрышей.
                p.fs-medium.c-black.mt-24.mt-md-40 Маркетинговые акции по продвижению товаров проводятся на базе программы по защите подлинности. Разработкой и проведением подобных акций занимается отдельное подразделение компании. Подробнее об этом вы можете узнать на сайте подразделения www.i-actions.ru.
                h4.c-black.mt-24.mt-md-40 Внимание! С целью улучшения качества разговоры с операторами записываются.
                p.fs-medium.c-black.mt-20 Если вас не устроило качество обслуживания оператора службы поддержки, сообщите нам об этом по номеру +7 495 989-23-35 или напишите письмо на адрес info@original-group.ru