extends /layout/page

block title
    title Производителям

block variables
    - var page = 'original-system'
block content
    .container
        .row
            .col 
                h1.text-center.c-orange О насм
                h2.c-black.text-center История компании
                +img('history-main.jpg','',' img-fluid mt-30','')
                p.text-center.mt-40.fs-medium История компании Original Group начинается в 2005 году. Именно тогда была создана уникальная система защиты от подделок Original! 
        .row.mt-30
            .col-md-6.mt-16
                .beige-container
                    .years 2005 г
                    p.mt-12.mt-md-24.fs-medium  Написана программа по учёту сгенерированных идентификационных кодов. Вскоре прошли её тестирование и успешный запуск.
            .col-xl-6.d-none.d-xl-flex
            .col-xl-6.d-none.d-xl-flex
            .col-md-6.mt-16
                .beige-container
                    .years 2006 г
                    p.mt-12.mt-md-24.fs-medium  Официальное создание компании Original Group. Зарегистрировано юридическое лицо ООО «Оригинал», цель которого – предоставление сервисов по информационному сопровождению сбыта продукции товаропроизводителей. В этом же году было полностью налажено функционирование системы Original! на всей территории России и стран СНГ.
            .col-md-6.mt-16
                .beige-container
                    .years 2008 г
                    p.mt-12.mt-md-24.fs-medium  Новый этап развития компании. Original Group выводит на рынок платформу для реализации интерактивных маркетинговых акций iActions. Маркировку товаров уникальным кодом теперь можно использовать не только для защиты подлинности, но и в маркетинговых целях. Вскоре в компании было образовано одноименное подразделение, занимающееся комплексным проведением проектов по стимулированию сбыта – рекламных и маркетинговых кампаний, реализуемых на базе платформы iActions.
            .col-xl-6.d-none.d-xl-flex
            .col-xl-6.d-none.d-xl-flex
            .col-md-6.mt-16
                .beige-container
                    .years 2011 г
                    p.mt-12.mt-md-24.fs-medium  Стремительное развитие требует новых технологических мощностей. Original Group размещает стойки с собственным телекоммуникационным оборудованием в крупнейшей точке обмена российским интернет-трафиком – площадке MSK-IX (M9). Также были получены все необходимые лицензии и произведены прямые подключения к крупнейшим операторам связи.
            .col-md-6.mt-16
                .beige-container
                    .years 2012 г
                    p.mt-12.mt-md-24.fs-medium  Специалистами Original Group разработана универсальная IT-платформа EzCom для центров обработки вызовов, на базе которой был открыт собственный профессиональный контакт-центр CallTraffic.Начинает работу первая площадка контакт-центра в Ижевске. За год было запущено около 60 аутсорсинговых проектов. 
            .col-xl-6.d-none.d-xl-flex
            .col-xl-6.d-none.d-xl-flex
            .col-md-6.mt-16
                .beige-container
                    .years 2015 г
                    p.mt-12.mt-md-24.fs-medium  Стремительное развитие требует новых технологических мощностей. Original Group размещает стойки с собственным телекоммуникационным оборудованием в крупнейшей точке обмена российским интернет-трафиком – площадке MSK-IX (M9). Также были получены все необходимые лицензии и произведены прямые подключения к крупнейшим операторам связи.
        .row.mt-160
            .col 
                h2.c-black.text-center Наши новости           