extends /layout/page

block title
    title Маркетинговые возможности

block variables
    - var page = 'marketing'
block content
    .container
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Маркетинговые возможности
                h2.c-black.text-center.mt-20 Маркетинговая платформа iActions
                p.fs-medium.text-center.mt-20.mt-lg-40.w-75.mx-a С помощью маркировки продукции уникальным кодом можно не только защитить её от подделки, но и стимулировать продажи. Это можно сделать с помощью маркетинговой платформы iActions, созданной компанией Original Group.
                h2.c-black.text-center.mt-40.mt-lg-80 Как это работает?
                p.fs-medium.text-center.mt-20.mt-lg-40.w-75.mx-a Покупатель регистрирует код с приобретённого продукта на промо-сайте, через СМС или позвонив на горячую линию. Сделав это, он становится участником розыгрыша призов. Механика определения победителей может быть различной. Приз можно получить за каждый промо-код, за каждый N-й по счёту код, за наибольшее количество отправленных кодов и т.д.
                p.fs-medium.text-center.w-75.mx-a Аналогичные акции можно проводить для продавцов и торговых представителей. В данном случае участники акции регистрируют на сайте накладные на проданный товар.

        .row.mt-20.mt-lg-40
            .col-md-4
                .marketing-img.mx-a
                    +img('marketing1.png','','','')
                    .marketing-step 01
                p.fs-medium.text-center.mt-30.fw-bolder Покупайте товар,<br> участвующий в акции
            .col-md-4.mt-20.mt-md-0
                .marketing-img.mx-a
                    +img('marketing2.png','','','')
                    .marketing-step 02
                p.fs-medium.text-center.mt-30.fw-bolder Регистрируйте чек<br> на сайте
            .col-md-4.mt-20.mt-md-0
                .marketing-img.mx-a
                    +img('marketing3.png','','','')
                    .marketing-step 03
                p.fs-medium.text-center.mt-30.fw-bolder Получайте гарантированные призы и участвуй в ежедневных, еженедельных, ежемесячных и главных розыгрышах.

        .row.mt-30.mt-lg-80  
            .col-12 
                h2.text-center Полное сопровождение акции 
        .row.mt-20.mt-lg-60 
            .col-md-7
                h4 Сотрудничая с нами, вы получаете маркетинговую акцию «под ключ». В рамках реализации проекта мы выполним все необходимые работы:
                ul.mt-20.mt-lg-40  
                    li Разработаем механику и правила акции     
                    li Сгенерируем массив уникальных кодов  
                    li Подберём оптимальный вариант маркировки вашей продукции кодами (этикетка, купон-вкладыш, нанесение кода непосредственно на упаковку)
                    li Создадим каналы коммуникации (промо-сайт, СМС, контакт-центр)
                    li Настроим работу платформы iActions согласно механике акции (интеграция в платформу массива кодов, настройка алгоритмов определения победителей и т.д.)
                    li Выполним сопровождение работы платформы iActions на всех этапах акции
                    li Организуем закупку, хранение и рассылку призов, оповестим участников о правилах их получения и текущих издержках (НДФЛ)
                    li Совместно с вами подведём итоги проекта
            .col-md-5 
                +img('marketing4.jpg','',' img-fluid img-helper br-20 ','')    
        .row.mt-60.mt-md-80.mt-lg-150 
            .col-12 
                h2.c-black.text-center.mt-20 Какие преимущества даёт <br class="touch-br-del"> использование iActions?
            .col-md-6.mt-20.mt-md-40
                .beige-container.flex-column.h-100
                    h4 Мотивация покупателей помогает вам:
                    ul 
                        li повысить их лояльность
                        li вывести на рынок новый товар
                        li cформировать положительный имидж компании, бренда
                        li cтимулировать продажи товаров сезонного спроса
                        li расширить долю рынка за счёт переключения аудитории конкурирующих продуктов
            .col-md-6.mt-12.mt-md-40
                .beige-container.flex-column
                    h4 Мотивация продавцов помогает вам:
                    ul 
                        li увеличить объёмы продаж
                        li cформировать «корпоративный клуб» сотрудников, готовых внести свой вклад в общее дело
                        li c помощью грамотной консультации продавца акцентировать внимание покупателя на достоинствах конкретного продукта
                        li поднять «боевой дух» продавцов за счёт введения игрового соревновательного момента
        .row.mt-60.mt-md-80.mt-lg-150
            .col
                h2.text-center Хотите узнать, о работе <br class="touch-br-del"> платформы Aictions?
                p.fs-medium.mt-24.text-center Для подробной информации о работе платформы iActions <br class="touch-br-del"> свяжитесь с нами по бесплатному номеру или напишите на почту:

        .row.mt-16.mt-md-30
            .col.d-flex.flex-column.flex-md-row.justify-content-center
                a(href="tel:8 800 505 34 14").a-contacts.mx-a.mx-md-0 8 800 505 34 14
                a(href="/").a-contacts.mx-a.mx-md-24.my-6.my-md-0 чат-бот Telegram
                a(href="mailto:info@i-actions.ru").a-contacts.mx-a.mx-md-0 info@i-actions.ru
