extends /layout/page

block title
    title Медицина и здоровье

block variables
    - var page = 'medecine'
block content
    .container

        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Медицина и здоровье
                h2.c-black.text-center.mt-12 Решение для защиты подлинности <br class="touch-br-del"> лекарств и медицинской продукции
        .row.mt-16.mt-md-30
            .col-6.col-6.col-lg-3 
                +img('/icons/solutions-1.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Защита каждой единицы <br class="touch-br-del"> продукции
            .col-6.col-lg-3
                +img('/icons/solutions-2.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Информационная поддержка <br class="touch-br-del"> потребителей
            .col-6.col-lg-3
                +img('/icons/solutions-3.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Простая и удобная проверка <br class="touch-br-del"> подлинности
            .col-6.col-lg-3 
                +img('/icons/solutions-4.svg','',' img-fluid mt-30 mx-a','')
                p.fs-medium.text-center.mt-20 Возможность проведения <br class="touch-br-del">   маркетинговых  акций 
        .row.mt-40.mt-lg-40
            .col-md-8 
                p.fs-medium Стоит ли говорить о значении борьбы с контрафактом лекарственных препаратов и медицинской продукции? От их качества напрямую зависит здоровье, а иногда и жизнь пациента, поэтому подделку важно выявить ещё до момента использования конечным потребителем. Защита подлинности важна и для производителей, которые теряют прибыль, — оборот поддельной продукции на фармрынке исчисляется в миллионах рублей.
                p.fs-medium Сегодня эта проблема решается на государственном уровне. Эксперимент по внедрению обязательной маркировки лекарственных средств уже позволил выявить многочисленные нарушения в этой сфере. С 2019 года внедрение спецсистемы маркировки станет в России обязательным, поэтому фармпроизводителям важно иметь готовое решение, которое позволит обеспечить защиту продукции от подделок в полном соответствии с требованиями государства.
                p.fs-medium Именно такой вариант защиты подлинности предлагает компания Original Group. Разработанная нами Track&Trace система позволяет осуществлять маркировку, сериализацию, агрегацию, отбраковку и выгрузку отчётности в надзорный орган в полном соответствии с законодательством. Продукция маркируется уникальным кодом, отсканировав который, можно не только определить подлинность продукта, но и полностью отследить его жизненный цикл. Сотрудничая с нами, вы получаете решение «под ключ», поскольку iTrack поддерживает все уровни архитектуры: L1, L2, L3, L4 и L5. Важно, что подлинность продукции может проверить не только сотрудник склада или аптечной сети, но и рядовой потребитель прямо на месте покупки. Всё, что ему для этого потребуется — сканировать код с помощью мобильного приложения или специального аптечного сканера. Таким образом, он может своевременно выявить подделку
            .col-md-4 
                +img('medecine1.jpg','',' img-fluid br-20 ','')
        .row.mt-40.mt-lg-80
            h2.text-center Кейс защиты подлинности для ГК&nbsp;«Р-Фарм»
        .row.mt-20.mt-lg-40
            .col-md-4
                +img('medecine2.jpg','',' img-fluid br-20','')
            .col-md-8.mt-24.mt-md-0
                p.fs-medium На сегодняшний день наша Track&Trace система прошла успешное внедрение в работу нескольких крупных фармацевтических предприятий. Своими впечатлениями от работы с Original Group делится Александр Быков, к.м.н., директор по экономике здравоохранения ГК «Р-Фарм»: «Одна из проблем, которые приходилось решать в процессе внедрения системы маркировки — это, безусловно, разработка программного обеспечения. Здесь стоит выделить прежде всего необходимость найти подрядчиков, способных соответствовать нашим высоким требованиям, относящимся к качеству продукции. Компания Original Group оказалась наиболее профессиональной и понимающей. В процессе совместной кропотливой работы нам удалось создать программное обеспечение, дающее возможность отследить и проанализировать движение выпущенной продукции на всех участках пути, начиная с её упаковки на заводе-производителе и заканчивая приобретением конечным потребителем».
        .row.mt-60.mt-md-80.mt-lg-150
        .row
            .col-12.mb-20.mb-md-40 
                h2.c-black.text-center Каталог защищённой продукции в&nbsp;медицинской отрасли
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/3m.jpg','','mt-16 mt-md-30 img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Компания 3М - материалы для стоматологии и ортодонтии
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/unident.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Лидер стоматологического рынка России и один из самых успешных холдингов в Европе
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/pankov.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Аппарат светодиодный офтальмологический «Радуга прозрения» от Панков-Медикл
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/sigcess.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 БАД «Фухоли - Дар силы» от международной корпорации Шэншимин (Sigcess)
            .col-6.col-md-4.col-lg-3
                .clients
                    +img('/medecine/farm.jpg','','mt-16 mt-md-30 mx-a img-fluid','')
                p.fs-medium.mt-10.mt-lg-20 Компания «Р-Фарм» – один из лидеров фармакологической отрасли в России