extends /layout/page

block title
    title Контрафактная продукция на кабельном рынке.

block variables
    - var page = 'new'
block content
    .container
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Новости
                h2.c-black.text-center.mt-16 Контрафактная продукция <br class="touch-br-del">  на кабельном рынке.
        .row.mt-20.mt-lg-60
            .col-xl-8.col-lg-8
                +img('new.jpg','',' img-fluid w-100 br-20','')  
            .col-xl-1.d-none.d-xl-block 
            .col-xl-3.col-lg-4.mt-24.mt-lg-0.new-desc__wrapper
                div.new-desc
                    span
                        p.fs-medium.c-black Время прочтения статьи - 
                        p.fs-large.c-orange 4 минуты
                    span
                        p.fs-medium.c-black Последнее обновление -  
                        p.fs-large.c-orange 15.04.2024
                div
                    h4 Поделиться статьей
                    .social.mt-20.mt-md-30 
                        a(href="ok")
                            +img('/icons/ok.svg','','','')
                        a(href="tg")
                            +img('/icons/tg.svg','','','')
                        a(href="vk")
                            +img('/icons/vk.svg','','','') 
        .row.row.mt-20.mt-lg-40 
            .col-lg-8
                p.fs-medium.c-black Кабельный рынок по данным исследований по объёму поддельной продукции занимает второе место в России, после рынка контрафактных медицинских препаратов. На сегодняшний день на рынке кабельных товаров представлен огромный перечень ассортимента некачественной продукции. И данная проблема приобретает массовый характер. 
                p.fs-medium.c-black Кабельный рынок по данным исследований по объёму поддельной продукции занимает второе место в России, после рынка контрафактных медицинских препаратов. На сегодняшний день на рынке кабельных товаров представлен огромный перечень ассортимента некачественной продукции. И данная проблема приобретает массовый характер. 
                p.fs-medium.c-black Кабельный рынок по данным исследований по объёму поддельной продукции занимает второе место в России, после рынка контрафактных медицинских препаратов. На сегодняшний день на рынке кабельных товаров представлен огромный перечень ассортимента некачественной продукции. И данная проблема приобретает массовый характер. 
                p.fs-medium.c-black Кабельный рынок по данным исследований по объёму поддельной продукции занимает второе место в России, после рынка контрафактных медицинских препаратов. На сегодняшний день на рынке кабельных товаров представлен огромный перечень ассортимента некачественной продукции. И данная проблема приобретает массовый характер. 
                p.fs-medium.c-black Кабельный рынок по данным исследований по объёму поддельной продукции занимает второе место в России, после рынка контрафактных медицинских препаратов. На сегодняшний день на рынке кабельных товаров представлен огромный перечень ассортимента некачественной продукции. И данная проблема приобретает массовый характер. 
                p.fs-medium.c-black Кабельный рынок по данным исследований по объёму поддельной продукции занимает второе место в России, после рынка контрафактных медицинских препаратов. На сегодняшний день на рынке кабельных товаров представлен огромный перечень ассортимента некачественной продукции. И данная проблема приобретает массовый характер. 
