extends /layout/page

block title
    title Новости

block variables
    - var page = 'news'
block content
    .container
        .row.row.mt-20.mt-md-60
            .col-12
                .text-center.h1-lg Новости
        .row.mt-16.mt-md-30
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
        .row 



            ul.pagination
                li.page-item.disabled
                    a.page-link(href="" aria-disabled="true")  
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="21" fill="none" viewBox="0 0 11 21">
                            <path fill="#333" d="M9.877 20.5a.6.6 0 0 0 .44-.198.708.708 0 0 0 0-.947L2.01 10.434l8.187-8.79a.708.708 0 0 0 0-.949.596.596 0 0 0-.883 0L.682 9.96a.708.708 0 0 0 0 .948l8.75 9.394a.6.6 0 0 0 .445.198Z"/>
                        </svg>
                li.page-item
                    a.page-link(href="" tabindex="-1" aria-disabled="true")  1
                li.page-item
                    a.page-link(href="" tabindex="-1" aria-disabled="true")  2
                li.page-item.active
                    a.page-link(href="" tabindex="-1" aria-disabled="true")  3
                li.page-item
                    a.page-link(href="" tabindex="-1" aria-disabled="true")  4
                li.page-item
                    a.page-link(href="" tabindex="-1" aria-disabled="true")  ...
                li.page-item
                    a.page-link(href="" tabindex="-1" aria-disabled="true")  15
                li.page-item.enabled
                    a.page-link(href="" tabindex="-1" aria-disabled="true")  
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="21" fill="none" viewBox="0 0 11 21">
                            <path fill="#333" d="M1.123 20.5a.606.606 0 0 1-.44-.198.708.708 0 0 1 0-.947l8.307-8.921-8.187-8.79a.708.708 0 0 1 0-.949c.243-.26.64-.26.883 0l8.632 9.265a.708.708 0 0 1 0 .948l-8.75 9.394a.6.6 0 0 1-.445.198Z"/>
                        </svg>





