extends /layout/page

block title
    title Производителям

block variables
    - var page = 'original-system'
block content
    .container
        .row
            .col 
                h1.text-center.c-orange Производителям
                h2.c-black.text-center Защитите свою продукцию&nbsp;&mdash; используйте&nbsp;Original
                p.mt-30.text-center Начните работу с системой Original! и получите все преимущества, которые она даёт. Сотрудничая с нами, вы:
        .row.mt-40 
            .col-6
                .beige-container.flex-column
                    .steps 1
                    .d-flex.flex-column.justify-content-between
                        h4.mt-100  Сохраняете свою прибыль
                        p.mt-60  При продаже контрафактного продукта под вашим брендом прибыль вместо вас получают мошенники. Original позволяет не только доводить до потребителей подлинную продукцию, но и выявить точки, где происходит вливание контрафакта.
            .col-3
                .beige-container.flex-column
                    .steps 2
                    .d-flex.flex-column.justify-content-between    
                            h4.mt-100  Повышаете лояльность покупателей
                            p.mt-60  Возможность проверить подлинность продукции прямо на месте покупки поднимает авторитет вашей компании в глазах потребителей.
            .col-3
                .beige-container.flex-column
                    .steps 3
                    .d-flex.flex-column.justify-content-between 
                        h4.mt-100  Сохраняете репутацию
                        p.mt-60  Низкое качество подделки может испортить всё впечатление о продукте и о вашей компании в целом. Не допустите этого, защитив свою продукцию!