extends /layout/page

block title
    title Партнеры

block variables
    - var page = 'partners'
block content
    .container
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Партнеры
                h2.c-black.text-center.mt-16 Партнеры “АО Оригинал”
        .row.mt-16.mt-lg-30
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/megafon.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО МегаФон
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/mts.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Мобильные Телесистемы
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/beeline.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Вымпелком (Beeline)
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/acm.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АСМ-Холдинг
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/oar.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 Объединение Автопроизводителей
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/pochta.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 Почта России
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/napak.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 НАПАК
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/akos.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО АКОС
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/altai.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Алтайсвязь
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/tele2.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО TELE2 Россия
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/nsb.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 Ассоциация СБ
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/baikal.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Байкалвестком
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/etk.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Енисейтелеком (ЕТК)
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/ltd.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Телесет Лтд (Цифровая экспансия)
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/motiv.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 ООО Екатеринбург-2000 (МОТИВ)
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/hcc.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО НСС
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/ntk.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Новая Телефонная
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/smarts.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО СМАРТС
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/stek.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Сотовый Телефон Кузбасса
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/torgrussia.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20  Торгово-промышленная палата РФ
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/gsm.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Ульяновск-GSM
            .col-6.col-md-4.col-lg-3.partner
                +img('/partners/utel.jpg','',' img-fluid mt-16 mt-md-30','')
                p.text-center.fs-medium.mt-10.mt-lg-20 АО Уралсвязьинформ (Utel)
