extends /layout/page

block title
    title Реквизиты

block variables
    - var page = 'requisites'
block content
    .container.documents
        .row.mt-30.mt-md-60
            .col 
                h1.text-center.c-red Документы
                h2.c-black.text-center.mt-16 Реквизиты
        .row.mt-20.mt-md-30
            .col
                .beige-container
                    .row
                        .col-md-5 
                            h4 Адрес
                            p.mt-8.mt-lg-16.fs-medium.c-black Общество с&nbsp;ограниченной ответственностью &laquo;Ай-Экшн<br> (ООО &laquo;Ай-&nbsp;Экшн&raquo;)
                            h4.mt-24.mt-lg-40 Юридический адрес:
                            p.mt-8.mt-lg-16.fs-medium.c-black 127018, Г Москва, вн.тер.г. Муниципальный Округ Марьина Роща, ул Полковая, д. 3 стр. 9
                            h4.mt-24.mt-lg-40 Фактический адрес:
                            p.mt-8.mt-lg-16.fs-medium.c-black 127018, Г Москва, вн.тер.г. Муниципальный Округ Марьина Роща, ул Полковая, д. 3 стр. 9
                            h4.mt-24.mt-lg-40 Телефон, E-mail: 
                            p.mt-8.mt-lg-16.fs-medium.c-black 8-800-505-34-14, info@i-actions.ru
                            h4.mt-24.mt-lg-40 Генеральный директор:
                            p.mt-8.mt-lg-16.fs-medium.c-black Зарецкая Мария Геннадьевна
                            h4.mt-24.mt-lg-40 ИНН:
                            p.mt-8.mt-lg-16.fs-medium.c-black 9715408700
                        .col-md-1
                        .col-md-5
                            h4.mt-24.mt-lg-0 КПП:
                            p.mt-8.mt-lg-16.fs-medium.c-black 771501001
                            h4.mt-24.mt-lg-40 ОГРН:
                            p.mt-8.mt-lg-16.fs-medium.c-black 1217700527934
                            h4.mt-24.mt-lg-40 Коды статистики:
                            p.mt-8.mt-lg-16.fs-medium.c-black ОКПО: 94995986<br>ОКАТО: 45280561000<br>ОКВЭД: 73.11
                            h4.mt-24.mt-lg-40 Банковские реквизиты:
                            p.mt-8.mt-lg-16.fs-medium.c-black Расчетный счет (рубли): 40702810502260003573<br>Наименование банка: АО "АЛЬФА-БАНК<br>Корреспондентский счет: 30101810200000000593 <br> в ГУ БАНКА РОССИИ ПО ЦФО<br>БИК: 044525593
                            h4.mt-24.mt-lg-40 ЭДО (Идентификатор Калуга Астрал):
                            p.mt-8.mt-lg-16.fs-medium.c-black 2AEE7F83459-7D65-40B8-A4DF-C8921EC57D31