extends /layout/page

block title
    title Порядок возврата

block variables
    - var page = 'return'
block content
    .container.documents
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Порядок возврата
                h2.c-black.text-center.mt-16 Порядок возврата  <br class="touch-br-del"> поддельной продукции
                h3.c-black.text-center.mt-20.mt-md-30 Если система выдала сообщение о подделке
        .row
            .col-lg-8

                h4.c-black.mt-24.mt-md-40 Порядок возврата подделки в России
                p.fs-medium.c-black.mt-20  Cвяжитесь с диспетчерами службы поддержки по телефону круглосуточной бесплатной горячей линии, указанному на стикере.
                h4.c-black.mt-24.mt-md-40 Информация для потребителей в РФ
                ul.mt-20 
                    li 
                        a(href="http://www.interlaw.ru/law/docs/10064072-044.htm" target="_blank") Гражданский кодекс РФ
                    li 
                        a(href="https://www.consultant.ru/document/cons_doc_LAW_305/" target="_blank") ФЗ "О защите прав потребителей" 
                p.fs-medium.c-black.mt-20  Вы также можете заполнить претензию в двух экземплярах и оставить один из них в торговой точке.
                h4.c-black.mt-24.mt-md-40 Скачать форму претензии:
                ul.mt-20 
                    li в формате <a href="https://original.su/files/claim.doc" target="_blank">Word</a>  
                    li в формате  <a href="https://original.su/files/claim.pdf" target="_blank">PDF</a>  
                h4.c-black.mt-24.mt-md-40 Выдержки из статьи 495 ГК РФ
                ul.mt-20 
                    li Продавец обязан предоставить покупателю необходимую и достоверную информацию о товаре, предлагаемом к продаже, соответствующую установленным законом, иными правовыми актами и обычно предъявляемым в розничной торговле требованиям к содержанию и способам предоставления такой информации.
                    li Если покупателю не предоставлена возможность незамедлительно получить в месте продажи информацию о товаре, указанную в пунктах 1 и 2 настоящей статьи, он вправе потребовать от продавца возмещения убытков, вызванных необоснованным уклонением от заключения договора розничной купли-продажи (пункт 4 статьи 495), а если договор заключён, в разумный срок отказаться от исполнения договора, потребовать возврата уплаченной за товар суммы и возмещения других убытков.