extends /layout/page

block title
    title Отзывы и рекомендации

block variables
    - var page = 'reviews'
block content
    .container
        .row.mt-30.mt-md-60
            .col 
                h1.text-center.c-red Отзывы
                h2.c-black.text-center.mt-16 Отзывы и&nbsp;рекомендации
        .row.mt-16.mt-lg-30
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/agc-recommendation-big.png" data-fancybox="license").doc-item
                    img(src='img/reviews/agc-recommendation-big.png' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация от ОАО «AGC БОР»
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/avtovaz_main.jpg" data-fancybox="license").doc-item
                    img(src='img/reviews/avtovaz_main.jpg' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация от ОАО «AGC БОР»
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/autounion-big.jpg" data-fancybox="license").doc-item
                    img(src='img/reviews/autounion-big.jpg' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация ООО «АвтоюнионБАТ»
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/pekar-big.jpg" data-fancybox="license").doc-item
                    img(src='img/reviews/pekar-big.jpg' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация от ТД «PEKAR»
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/umz-recommendation-big.png" data-fancybox="license").doc-item
                    img(src='img/reviews/umz-recommendation-big.png' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация от ОАО «Ульяновский моторный завод»
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/kzta-big.jpg" data-fancybox="license").doc-item
                    img(src='img/reviews/kzta-big.jpg' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация от ОАО «КЗТА»
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/chetra-big.jpg" data-fancybox="license").doc-item
                    img(src='img/reviews/chetra-big.jpg' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация  от ООО «ЧКЗЧ»
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/dzv-big.jpg" data-fancybox="license").doc-item
                    img(src='img/reviews/dzv-big.jpg' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация  от ЗАО «ДЗВ»
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/rostar-big.jpg" data-fancybox="license").doc-item
                    img(src='img/reviews/rostar-big.jpg' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация от ООО «НПО «Ростар»
				
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/oar_main.jpg" data-fancybox="license").doc-item
                    img(src='img/reviews/oar_main.jpg' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация от ОАО «КЗТА»
				
            .col-6.col-md-4.col-lg-3.mt-16.mt-lg-30
                a(href="img/reviews/mzate2-recommendation-big.png" data-fancybox="license").doc-item
                    img(src='img/reviews/mzate2-recommendation-big.png' )
                p.text-center.fs-medium.mt-10.mt-lg-20 Рекомендация от ЗАО «МЗАТЭ - 2»