extends /layout/page

block title
    title Безопасность системы

block variables
    - var page = 'security' 
block content
    .container
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.c-red Безопасность системы
                h2.c-black.text-center  Защита системы Original! от мошенничества
        .row.mt-30
            .col-md-6 
                p.fs-medium Одни из самых популярных вопросов, интересующих наших клиентов, это:
                ul
                    li Как сама система Original! защищена от мошенничества?
                    li Каковы гарантии того, что предоставляемый нами сервис действительно работает и защищает интересы производителей оригинальной продукции?
                p.fs-medium Эти вопросы более чем актуальны: многие компании предлагают сервисы по защите от подделок, которые на самом деле являются не более чем маркетинговым ходом и не несут в себе реальной защиты подлинности товара. В отличие от них, система Original! действительно защищает вашу продукцию.
                p.fs-medium В основе защиты самой системы от мошенничества лежит принцип использования последовательности кодов. Кроме того, собственная CRM-система, на базе которой функционирует сервис, позволяет настраивать программы защиты в зависимости от особенностей продукции и технологии маркировки, применяемой в каждом конкретном случае.

            .col-md-6
                +img('security1.jpg','',' img-fluid br-20 mt-16 mt-md-0','')
        .row.mt-30  
            .col-md-8
                .beige-container.flex-column
                    h4 Что будет, если произойдет хищение массива уникальных кодов?  
                    p.fs-medium.mt-6.mt-md-24 Такая ситуация может произойти, например, на этапе печати этикеток в типографии. Но безопасность системы не пострадает — только производитель знает, какие коды предназначены для каких товаров. Поэтому, если мошенники попытаются разместить похищенные коды на контрафактной продукции, а покупатель обратится к системе с запросом на подтверждение подлинности, он получит ответ совсем не о том товаре, который приобрёл, и сможет сделать вывод, что перед ним подделка.
            .col-md-4
                +img('security2.jpg','',' img-fluid img-helper br-20 mt-16 mt-md-0 ','')   
        .row.mt-30  
            .col-md-4
                +img('security3.jpg','',' img-fluid img-helper br-20 ','')  
            .col-md-8.mt-16.mt-md-0
                .beige-container.flex-column
                    h4 А если произойдёт хищение готовых этикеток на производстве защищаемой продукции?
                    p.fs-medium.mt-6.mt-md-24 Учёт маркировочных этикеток на производстве ведёт производитель. Обнаружив факт хищения, производитель сообщает о нём нашим специалистам, и похищенные коды попросту не активируются. В системе содержатся данные обо всех сгенерированных кодах, в том числе, активирован код или нет. Если происходит обращение по тем кодам, которые находились на похищенных этикетках, система выдаёт покупателю ответ о том, что продукция поддельная.
                    p.fs-medium Существует вариант, при котором весь массив кодов активируется сразу при генерации. В таком случае мы всегда можем оперативно деактивировать украденные коды.

        .row.mt-30  
            .col-md-8
                .beige-container.flex-column
                    h4 Как система защищена от повторного использования уже активированного кода для маркировки контрафакта?
                    p.fs-medium.mt-6.mt-md-24 Подобная ситуация может возникнуть в следующем случае: мошенники покупают защищённый товар, после чего им становится известен уникальный код. Вся поддельная продукция оснащается одним и тем же уникальным кодом. В этом случае:
                    ul
                        li.mt-2 При первой проверке подлинности система выдаёт правильный ответ «Продукция подлинна».
                        li.mt-2 При последующих обращениях система выдаёт ответ с указанием количества проверок этого кода, а также информацию о том, что большое количество проверок может указывать на подделку.
                        li.mt-2 При большом количестве проверок система обращается к покупателю с предложением обратиться в службу поддержки для получения рекомендаций по возврату поддельной продукции.
                        li.mt-2 При обращении потребителя в Сall-центр, диспетчер обращается к нему с просьбой сообщить адрес торговой точки, в которой он приобрёл поддельную продукцию. Так производитель получает информацию о том, где распространяется контрафакт и может принять меры по его ликвидации.
            .col-md-4
                +img('security4.jpg','',' img-fluid img-helper br-20 mt-16 mt-md-0 ','') 
        .row.mt-60.mt-md-80.mt-lg-150  
            .col
                h2.text-center Хотите узнать, о работе <br class="touch-br-del"> платформы Aictions?
                p.fs-medium.mt-6.mt-md-24.text-center Для подробной информации о работе платформы iActions <br class="touch-br-del"> свяжитесь с нами по бесплатному номеру или напишите на почту:

        .row.mt-16.mt-md-30
            .col.d-flex.flex-column.flex-md-row.justify-content-center
                a(href="tel:8 800 505 34 14").a-contacts.mx-a.mx-md-0 8 800 505 34 14
                a(href="/").a-contacts.mx-a.mx-md-24.my-6.my-md-0 чат-бот Telegram
                a(href="mailto:info@i-actions.ru").a-contacts.mx-a.mx-md-0 info@i-actions.ru
