extends /layout/page

block title
    title Тарифы SMS

block variables
    - var page = 'sms-tarif'
block content
    .container.documents
        .row.mt-20.mt-md-60
            .col 
                h1.text-center.h1-lg Тарифы SMS
        .row.mt-20.mt-md-30
            .col-lg-8 
                p.fs-medium.c-black Система защиты подлинности ORIGINAL! предлагает вам простую регистрацию уникального кода на нашем сайте, а также возможность зарегистрировать код по телефону бесплатной горячей линии 8 800 555 0095. 
                p.fs-medium.c-black Однако для удобства покупателей мы также предоставляем сервис регистрации уникального кода с помощью его отправки на короткий SMS-номер 2420. Сделать это можно прямо на месте покупки. Cтоимость SMS на короткие номера Вы можете узнать у своего оператора сотовой связи.

