.container.mt-60.mt-lg-150
      .row
            .col-12
                  h2.text-center Наши новости
      .row.mt-md-30 
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')   
            .col-12.col-md-6.col-lg-4.mt-24
                a.new-item(href="/")
                    .new__desc
                        .new-desc__date 15.04.2024  
                        h4.c-black Контрафакт товаров на детском рынке
                        p.fs-medium.c-balck Проблема контрафакта на детском рынке. Борьба с контрафактной продукцией. Как избежать столкновения с ней покупателю?..
                    +img('history-main.jpg','','cover','') 
                    +img('/icons/new-arrow.svg','','icon','')  
      .row 
            .col-12.col-md-6.col-lg-4.mx-a 
                  a.btn.btn-lg.btn-red-border.mx-a.mt-30.mt-lg-60(href="/news.html") Смотреть все